body {
  font-size: larger;
  background-color: skyblue;
  color: black;
  padding: 0 40px;
  box-sizing: border-box;
  justify-content: flex-end;
}
.form {
  font-size: 20px;
  padding: 50px;
  width: 800px;
  height: 2px;
  padding-left: 0;
  margin-left: 0;
}
.city-info {
  display: flex;
  align-items: center;
  gap: 300px;
}
.searchbox {
  text-align: left;
  width: 500px;
  height: 40px;
  padding: 10px;
  border: 1px solid purple;
}
.submitbox {
  width: 80px;
  height: 40px;
  background-color: rgb(6, 72, 129);
  color: white;
  cursor: pointer;
}
.submitbox:hover {
  background-color: rgb(56, 130, 196);
}
.humidity {
  color: rgb(207, 161, 161);
}
.wind {
  color: rgb(207, 161, 161);
}
.Weather {
  display: flex;
  align-items: center;
  transform: translateY(15px);
}
.emoji {
  margin-right: 5px;
  width: 70px;
  height: 70px;
}
.temp {
  font-size: 50px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
}
.weather-forecast-day {
  text-align: center;
  margin-bottom: 20px;
}
.weather-day {
  color: rgba(0, 0, 0);
  margin-top: 40px;
}
.weather-icon {
  width: 60px;
  margin-top: 20px;
}
.weather-temperatures {
  margin-top: 20px;
  color: rgb(240, 146, 146);
  display: flex;
  justify-content: center;
}
.weather-temp1 {
  padding: 0 10px;
}
