body {
  font-size: larger;
  background-color: skyblue;
  color: beige;
}
.form {
  font-size: 20px;
  padding: 50px;
  width: 800px;
  height: 2px;
}
.city-info {
  display: flex;
  align-items: center;
  gap: 300px;
}
.searchbox {
  width: 500px;
  height: 40px;
  pad: 5px 10px;
  border: 1px solid purple;
}
.submitbox {
  width: 80px;
  height: 40px;
  background-color: rgb(6, 72, 129);
  color: white;
  cursor: pointer;
}
.submitbox:hover {
  background-color: rgb(56, 130, 196);
}
.humidity {
  color: rgb(233, 98, 98);
}
.wind {
  color: rgb(233, 98, 98);
}
.Weather {
  display: flex;
  align-items: center;
  transform: translateY(15px);
}
.emoji {
  margin-right: 5px;
}
